// color vars

// media queries

// normalize

@import "normalize";

// bourbon.io

@import "bourbon/bourbon";

// box sizing

*,
*:before,
*:after {
  @include box-sizing(border-box);
  margin: 0;
}

// globals

body {
  // font-family: ;
  // font-weight: ;
  // font-size: ;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

// partials